.image {
    min-width: 56px !important;
    min-height: 69px !important;
    border-radius: 6px;
    object-fit: cover;
}

.card {
    width: 300px;
    height: 88px;
    margin: .3rem .5rem;
    position: relative;
    border: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    font-family: 'Sarala', sans-serif;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card article {
    background: rgba(255, 255, 255, 1);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.card h4 {
    margin: .2rem 0;
    text-transform: capitalize;
    font-weight: 700;
}

.card div.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    height: 60px;
    align-items: flex-start;
}

.card div.list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card div.list div.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card div.list div.li p {
    font-size: 8px;
    margin: 0 .2rem 0 0;
    color: rgba(0, 0, 0, 0.5);
}

.card div.list div.li span {
    white-space: nowrap;
    font-size: 8px;
    color: rgba(0, 0, 0, 1);
}