.star {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 5px;
}

div.bg {
    background-color: rgba(251, 87, 121, 0.25);
    width: 70px;
    rotate: 35deg;
    height: 40px;
    position: absolute;
    right: 0px;
    top: -31px;
    left: -24px;
    z-index: 0;
}

.star button i {
    position: relative;
    z-index: 1;
    font-size: 9px;
    top: -5px;
    right: 0px;
    color: rgba(251, 87, 121, 1);
}

.star button {
    background: none;
    border: none;
    position: relative;
}