.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    margin: 0;
    list-style: none;
    width: calc(100% - 400px);
}

.list li.listLi {
    width: 320px;
}

.add {
    width: 400px;
}

.mainFlex {
    display: flex;
}

.list:nth-child(:last-child) {
    margin-right: 400px;
}