.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    margin: 0;
    list-style: none;
    width: calc(100% - 400px);
}

.list li:nth-child(odd) {
    background: #F1F5F6;
}

.list li:nth-child(even) {
    background: #ECEFF0;
}

.list li {
    width: 85%;
}

.add {
    width: 400px;
}

.mainFlex {
    display: flex;
}

.list:nth-child(:last-child) {
    margin-right: 400px;
}

@media screen and (max-width: 920px) {
    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: scroll;
        height: 100%;
        max-height: calc(100vh - 30vh);
    }

    .list li {
        width: 100vw;
        min-height: auto;
    }
}